body {
    background-image: url(../../images//leaves.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home{
    margin-right: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}